
<div class="col-xs-10">
    
    

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-7">
                <div class="thumbnail">
                  <img style="height: 80%; width: 80%;" src="{{item.picture}}" class="img-responsive" alt="">
            
                  <div class="post-content">
                    
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                  
                    <label >{{item.name}}</label><br>
                    <label >Rp {{item.price}}</label><br>
                    <label >Color : {{item.color}}</label><br>
                    <label >Size : {{item.size}}</label><br>

                    <button>ADD TO CART</button>
                  
                </div>
        </div>
    </div>



</div>